@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --content-width: 70%;
    --white: #fff;
    --secondary-700: #1b6392;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.ant-spin-dot-item {
    background-color: white !important;
}

.ant-select-selection-placeholder,
.ant-picker-input {
    font-weight: 700 !important;
}

.ant-skeleton,
.ant-skeleton-input {
    width: 70px !important;
    min-width: 50px !important;
}

.main_content {
    display: flex;
    flex-direction: column;
    width: var(--content-width);
}
