@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --content-width: 70%;
    --white: #fff;
    --secondary-700: #1b6392;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ant-spin-dot-item {
    background-color: white !important;
}

.ant-select-selection-placeholder,
.ant-picker-input {
    font-weight: 700 !important;
}
