.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.searchbar_container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--secondary-700);
}

.searchbar {
    width: var(--content-width);
}

.select_currency {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 14px;
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: var(--content-width);
    padding: 15px 0;
}
